body{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
#header-sec{
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
 .header-intro{
    padding: 10% 30%;
    color: rgba(255, 255, 255, 0.979);
    text-align: center;
 }
 .header-intro p{
    color: rgb(255, 255, 255);
 }
.donate-btn{
    text-decoration: none;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: tomato;
    color: white;
}
section{
    margin-bottom: 100px;
}
#donate-today-sec{
    text-align: center;
}
.donate-des{
    padding: 0 15%;
}
.donation-ammount{
    display: flex;
    padding: 0 25%;
    margin: 5% 0;
}
.hundred{
    width: 20%;
    background-color: rgba(128, 128, 128, 0.068);
    border-radius: 5px;
    margin-left: 10px;
    color: gray;
    font-size: 22px;

}
.two-hundred{
    width: 20%;
    border: 2px solid tomato;
    background-color: rgba(255, 99, 71, 0.103);
    color: tomato;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 22px;
 }
.five-hundred{
    width: 20%;
    margin-left: 10px;
    background-color: rgba(128, 128, 128, 0.068);
    border-radius: 5px;
    margin-left: 10px;
    color: gray;
    font-size: 22px;
}
.thousand{
    width: 20%;
    margin-left: 10px;
    background-color: rgba(128, 128, 128, 0.068);
    border-radius: 5px;
    margin-left: 10px;
    color: gray;
    font-size: 22px;
}
.five-thousand{
    width: 20%;
    margin-left: 10px;
    background-color: rgba(128, 128, 128, 0.068);
    border-radius: 5px;
    margin-left: 10px;
    color: gray;
    font-size: 22px;
}
.other-ammount{
    color: rgba(128, 128, 128, 0.452);
}
.horizon{
    width: 50%;
    margin-bottom: 30px;
}




.donate-plan-des{
    text-align: center;
    margin-bottom: 50px;
}
#donate-plan{
    padding: 0 15%;
}
.card{
    display: flex;
}
.food{
    width: 30%;
     margin-left: 3%;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(237, 245, 246);
}
.selter{
    width: 30%;
    margin-left: 3%;
    padding: 10px;
    background-color: rgb(255, 238, 238);
    border-radius: 10px;
}
.education{
    width: 30%;
    margin-left: 3%;
    padding: 10px;
    background-color:rgb(255, 244, 214) ;
    border-radius: 10px;
}