body{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
#header-sec{
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
 .header-intro{
    padding: 10% 30%;
    color: rgba(255, 255, 255, 0.979);
    text-align: center;
 }
 .header-intro p{
    color: rgb(255, 255, 255);
 }
.donate-btn{
    text-decoration: none;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: tomato;
    color: white;
}
section{
    margin-bottom: 100px;
}
#donate-today-sec{
    text-align: center;
}
.donate-des{
    padding: 0 15%;
}
.donation-ammount{
    display: flex;
    padding: 0 25%;
    margin: 5% 0;
}
.donation-ammount div{
    width: 20%;
    background-color: rgba(128, 128, 128, 0.068);
    margin-left: 10px;
    border-radius: 5px;
    color: gray;
    font-size: 22px;
}
.other-ammount{
    color: rgba(128, 128, 128, 0.452);
}
.horizon{
    width: 50%;
    margin-bottom: 30px;
}

.donate-plan-des{
    text-align: center;
    margin-bottom: 50px;
}
#donate-plan{
    padding: 0 15%;
}
.card{
    display: flex;
}
.food{
    width: 30%;
     margin-left: 3%;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(237, 245, 246);
}
.selter{
    width: 30%;
    margin-left: 3%;
    padding: 10px;
    background-color: rgb(255, 238, 238);
    border-radius: 10px;
}
.education{
    width: 30%;
    margin-left: 3%;
    padding: 10px;
    background-color:rgb(255, 244, 214) ;
    border-radius: 10px;
}
#flood{

}
.trouble{
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.trouble-title{
    padding: 200px;
    text-align: center;
    color: rgba(255, 255, 255, 0.767);
}
.give-a-hand{
    color: rgba(255, 166, 0, 0.87);
    font-family: 'Tangerine', cursive;
}
.trouble-hr{
    width: 50%;
}
.trouble-card{
    display: flex;
    margin-top: 30px;
}
.trouble-card div{
    width: 25%;
    margin: 0 20px;
 }
 .trouble-card div img{
    width: 100%;
    border-radius: 10px;
    height: 175px;
 }
/* .card-one{
    width: 25%;
}
.card-one img{
    width: 100%;
    border-radius: 10px;
    height: 175px;
}
.card-two{
    width: 25%;
}
.card-two img{
    width: 100%;
    border-radius: 10px;
    height: 175px;
}
.card-three{
    width: 25%;
}
.card-three img{
    width: 100%;
    border-radius: 10px;
    height: 175px;
 }
.card-four{
    width: 25%;
}
.card-four img{
    width: 100%;
    border-radius: 10px;
    height: 175px;
} */
.our-help{
    text-align: center;
    margin-top: 20px;
    margin-left: 35%;
    box-shadow: 10px  10px 40px gray;
    padding: 5px;
    width: 30%;
    border-radius: 10px;
    border-top: 7px solid tomato;
    border-bottom: 7px solid blue;
}
#my-updates{

}
.updates-des{
    text-align: center;
    padding: 0 20%;
    margin-bottom: 40px;
}
.mail{
    background-color: rgba(209, 200, 200, 0.336);
    border: none;
    padding: 5px 5px 5px 5px;
    border-radius: 5px 0 0 5px;
 }
 .form-div{
    background-color: rgb(255, 244, 214);
    text-align: center;
    width: 40%;
    padding: 5% 10%;
    margin: 0 auto;
 }

.subs{
    background-color: tomato;
    border: none;
    padding: 5px 5px 5px 0;
    border-radius: 0 5px 5px 0;
    margin-left: -4px;
 }
 footer{
    background-color: rgb(11, 13, 23);
    color: white;
    text-align: center;
    padding: 2% 0;
 }
 .footer-color{
    color: rgba(255, 68, 0, 0.89);
 }
 footer h2{
    font-family: 'Tangerine', cursive;
 }

 
